<meta charset="utf-8">
<title>TinyApp URL Shortener - chadder04</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style>
    body {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .jumbotron {
        margin-top: 10px;
    }

    .navbar-text {
        margin-top: 10px;
    }

    .nav {
        margin-top: -10px;
    }

    .table td {
        vertical-align: middle !important;
    }
</style>