<div class="header clearfix">
    <nav>
        <div class="pull-right">
            <% if (isLoggedIn) { %>
                <form method="POST" action="/logout" class="form-inline">
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation"><p class="navbar-text"><%= user.userEmail %></p></li>
                        <li role="presentation"><button type="submit" class="btn logout" name="logout" >Logout</button></li>
                    </ul>
                </form>
            <% } else { %>
                <a href="/login" class="btn btn-default">Sign in</a>
                <a href="/register" class="btn btn-default">Register</a>
            <% } %>
        </div>
        <h3 class="text-muted">TinyApp URL Shortener</h3>
    </nav>
</div>